#flights {
    width: 100%;
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-tabs {
    border-bottom: 3px solid #ac4147;
    padding-right: 0px;
    padding-left: 0px;
    /* background-color: #505165; */
    color: #FFF;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.hover {
    background-color: #ac4541;
    border-right: 1px solid #ac4147;
    border-color: transparent transparent #ac4541;
    color: #FFF;
    border-right: 1px solid #FFF;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    background-color: #505165;
}

.tab-content {
    color: #000;
    background-color: #FFF;
}

.far,
.fas,
.fal,
.fab {
    color: #FFF;
    font-family: fontAwesome;
}

.save {
    padding: 0px 10px 3px;
    font-size: 11px;
    color: #FFF;
    background-color: #ac4541;
    margin: 0px;
}

.nav-tabs .nav-link {
    border-right: 1px solid #FFF;
    color: #FFF;
}

.tab-content {
    padding: 20px;
}