<div class="row">
    <div class="col-6 offset-1" id="flights">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-flights-home-tab" data-toggle="tab" href="#nav-flights-home" role="tab" aria-controls="nav-home" aria-selected="true">
                    <span class="far fa-plane"></span> Flights
                </a>
                <a class="nav-item nav-link" id="nav-hotel-home-tab" data-toggle="tab" href="#nav-hotel-home" role="tab" aria-controls="nav-hotel" aria-selected="false">
                    <span class="far fa-hotel"></span> Hotels
                </a>
                <a class="nav-item nav-link" id="nav-flights-and-hotel-tab" data-toggle="tab" href="#nav-flights-and-hotel" role="tab" aria-controls="nav-flights" aria-selected="false">
                  Flights + Hotels <button class="save btn btn-default btn-xs danger">save</button>
              </a>
                <a class="nav-item nav-link" id="nav-holidays-home-tab" data-toggle="tab" href="#nav-holidays-home" role="tab" aria-controls="nav-holidays" aria-selected="false">
                    <span class="far fa-building"></span> Holidays
                </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-flights-home" role="tabpanel" aria-labelledby="nav-flights-home-tab">Flights</div>
            <div class="tab-pane fade" id="nav-hotel-home" role="tabpanel" aria-labelledby="nav-hotel-home-tab">Hotels</div>
            <div class="tab-pane fade" id="nav-flights-and-hotel" role="tabpanel" aria-labelledby="nav-flights-and-hotel-tab">Flights + Hotels</div>
            <div class="tab-pane fade" id="nav-holidays-home" role="tabpanel" aria-labelledby="nav-holidays-home-tab">Holidays</div>
        </div>
    </div>

</div>